.imageBlock {
	position: relative;
	width: auto;
	width: 64px;
	height: 64px;
	display: flex;
	flex-direction: column;
}
.image {
	position: absolute;
	text-align: center;
	z-index: 1;
	border-radius: 3px;
}
.imageShadow {
	position: absolute;
	top: 5%;
	left: 5%;
	right: 5%;
	height: 100%;
	background-size: auto;
	background-position: center bottom;
	background-repeat: no-repeat;
	border-radius: inherit;
	-webkit-filter: blur(15px);
	filter: blur(15px);
}
.input {
	padding: 0;
	margin: 0;
	outline: none;
	border: 0;
	border: none;
	position: relative;
	top: 100%;
	left: -32px;
	font-size: 18px;
	width: 128px;
	padding: 5px;
	background-color: #f3f3f7;
}
