.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	padding: 30px;
	border-radius: 15px;
}

@media (prefers-color-scheme: dark) {
	.box {
		background: #202124;
		color: white;
	}
}

.—Åontent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
.goGame {
	font-size: 40px;
	text-decoration: inherit;
	color: inherit;
}